<!doctype html>
<html>
<head>
  <title>Getting Started</title>

  <link rel="stylesheet" type="text/css" href="/main.css" >

</head>
<body>
<div class="file-path" data-path="/data/<%= params[:id] %>"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="vis">
      </div>
    </div>
  </div>
</div>
<script src="/main.js"></script>
</body>
</html>
